<div class="container">
    <div class="row">
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" [(ngModel)]="registerModel.username" class="form-control" id="email">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" [(ngModel)]="registerModel.password" class="form-control" id="password">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" [(ngModel)]="registerModel.cpf" class="form-control" id="cpf">
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-row-reverse">
            <button class="btn btn-primary" (click)="register()">Login</button>
        </div>
    </div>
</div>